<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content=" " />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Document</title>
  </head>
  <body>
    <div
      class="flex flex-col justify-center items-center h-screen w-screen text-gray-600 rounded-3xl"
    >
      <form
        class="flex flex-col justify-center items-center"
        action="javascript:submit()"
      >
        <input
          style="border-bottom: 1px solid"
          class="m-2 p-2 w-72"
          type="text"
          name="name"
          placeholder="Full Name"
        />

        <input
          style="border-bottom: 1px solid"
          class="m-2 p-2 w-72"
          type="email"
          name="email"
          placeholder="E-mail"
        />

        <input
          style="border-bottom: 0.5px solid"
          class="m-2 p-2 w-72"
          type="password"
          name="password"
          placeholder="Password"
        />

        <div
          class="flex flex-row justify-center items-center w-72 m-2 p-2"
        >
    
          
          <button
          style="background-color: #6153c3"
          class="m-4 h-10 text-white rounded-2xl w-72"
          >
          <a type="submit">Submit</a>
        </button>
        
      </div>
      
      </form>

      <div class="items-center flex flex-col">
        <p>OR SIGN IN WITH</p>
      </div>

      <div class="socialLogins flex flex-col justify-center items-center m-4">


        <button
          style="background-color: #6153c3"
          class="btn m-4 h-10 text-white rounded-2xl w-72">
          <a href="" id="start">Linked In </a>
        </button>

        <button
          style="background-color: #6153c3"
          class="btn m-2 h-10 text-white rounded-2xl w-72">
        <a href="" id="loginBtn"> FaceBook </a>
        </button> 

      </div>

      <script>
          
          // grab button
          var loginBtn = document.getElementById("loginBtn");

          let redirectURIfb = "https://dev.devusol.net/fbHandle";

          fbAuthUrl = `https://www.facebook.com/v15.0/dialog/oauth?client_id=3184359635207513&redirect_uri=&redirect_uri=${encodeURIComponent(redirectURIfb)}&state=st=state123abc,ds=123456789`;

          loginBtn.href = fbAuthUrl;
          
      </script>

      <div class="flex flex-col justify-center items-center">
        <p>
          Already have an account? <a style="color: #ad55c3" href="">Sign In</a>
        </p>
      </div>
    </div>

    <script>
      const link = document.querySelector("#start");
      const array = new Uint16Array(10);
      const state = self.crypto.randomUUID();
      console.log(state);
      //const state = crypto.getRandomValues(16).toString("hex");
      const clientID = "78u9lqsln6z7j5";
      const redirectURI = "https://dev.devusol.net/handle";

      const authURL = `https://www.linkedin.com/oauth/v2/authorization?client_id=${clientID}&redirect_uri=${encodeURIComponent(
        redirectURI
      )}&scope=r_liteprofile%20r_emailaddress&response_type=code&state=${state}`;

      link.href = authURL;

      async function submit() {
        const form = document.querySelector("form");
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);
        console.log(data);
        const response = await fetch("https://dev.devusol.net/users/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        const result = await response.json();

        // console.log("tkn obj: ", JSON.parse(JSON.stringify(result.token)));

        window.ReactNativeWebView.postMessage(JSON.parse(JSON.stringify(result.token)));
      }
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/main.js"></script>
  </body>
</html>
