<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="510294674624-1ucnjvt0hhvjiduhdf952d6uka4h8l0m.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Document</title>
  </head>
  <body>
    <div
      class="flex flex-col justify-center items-center h-screen w-screen text-gray-600 rounded-3xl"
    >
      <form
        class="flex flex-col justify-center items-center"
        action="javascript:submit()"
      >
        <input
          style="border-bottom: 1px solid"
          class="m-2 p-2 w-72"
          type="text"
          name="fullName"
          placeholder="Full Name"
        />

        <input
          style="border-bottom: 1px solid"
          class="m-2 p-2 w-72"
          type="email"
          name="email"
          placeholder="E-mail"
        />

        <!-- <input
          style="border-bottom: 0.5px solid"
          class="m-2 p-2 w-72"
          type="password"
          name="password"
          placeholder="Password"
        /> -->
        <button
          style="background-color: #6153c3"
          class="m-4 h-10 text-white rounded-2xl w-72"
        >
          <a 
          type = "submit"
          >Submit</a>
        </button>
      </form>

      <div class="items-center flex flex-col">
        <p>OR SIGN IN WITH</p>
      </div>

      <div class="socialLogins flex flex-col justify-center items-center m-4">
        <!-- <div class="g-signin2"></div> -->
        <button class="btn">
          <p class="btnText">Google</p>
        </button>
        <button class="btn">
          <p class="btnText">Google</p>
        </button>
      </div>

      <div class="flex flex-col justify-center items-center">
        <p>
          Already have an account? <a style="color: #ad55c3" href="">Sign In</a>
        </p>
      </div>
    </div>

    <script>

       async function submit() { 
                window.location.href = "https://dev.devusol.net/authtest";
        var fullName = document.getElementsByName("fullName")[0].value;
        var email = document.getElementsByName("email")[0].value;
        // var password = document.getElementsByName("password")[0].value;

        var data = {
          name: fullName,
          email: email,
          // password: password,
        };

        var response = await fetch("https://dev.devusol.net/users", {
          // after we post the data, we want to redirect to the authtest page
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data)

        });

        return response.json();

      }
    </script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/main.js"></script>
    
  </body>
</html>
