<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form 
      class = " 
      flex
      flex-col
      m-10
      items-center
      height: 100vh;
      border border-black	 
      rounded-lg
      p-5"
    action="../appauth_handler">
    
      <input 
      class = "
      m-2
      border border-black p-2"
      type="text" name="name" />
      
      <input 
      class = "
      m-2
      border border-black p-2"
      type="email" name="email" 
      
      />
     
      <input 
      class = "
      m-2
      border border-black p-2"
      type="password" name="password" />

    </form>

    <button>
      <a href="../appauth_handler">Submit</a>
    </button>

    <h1 class="text-3xl font-bold underline">
    
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
