<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>hello</h1>

    <!-- if we get back fbUserInfo, display it other wise, display info -->

    <% if (socialInfo) { %>
        <h1>Facebook Info</h1>
        <p id = "socialName" ><%= socialInfo.name %></p>
        <p id = "socialEmail"><%= socialInfo.email %></p>
        <p id = "socialPicture"><%= socialInfo.picture %></p>
    <% } 
    else { %> <h1>No info </h1> <% }
        
    %>
    


    
    <!-- grab the url data, pnly the name and email-->      
    <script>
    </script>

    <script>

        // grab the full name and postmessage it to react native 
        const fullName = document.getElementById("socialName").innerHTML;
        const email = document.getElementById("socialEmail").innerHTML;
        const picture = document.getElementById("socialPicture").innerHTML;

        const info = {
            fullName: fullName,
            email: email,
            picture: picture
        }

        console.log("TEST : ", JSON.parse(JSON.stringify(info)));

        // when message is received from react native, postmessage it to react native   
        window.addEventListener("load", (event) => {
            window.ReactNativeWebView.postMessage(JSON.stringify(info));
        })

    </script>

</body>
</html>