<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id = "fullName"><%= data.name %></h1>
    <p id = "email"><%= data.email %></p>

    

    <script>
        // grab the full name and postmessage it to react native 
        // const fullName = document.getElementById("fullName").innerHTML;
        // const email = document.getElementById("email").innerHTML;

        const info = {
            fullName: fullName,
            email: email,
        }

        window.ReactNativeWebView.postMessage(JSON.stringify(info));


    </script>

</body>
</html>