<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
    <div class="container">
        <h1>
            Here is our Policy: 
        </h1>
        <p>
            <a href="https://dev.devusol.net/Policy">Privacy Policy</a>
        </p>

        if you wish to continue, please click the button below:
        <button 
        onclick = "registerUser()"
        type = "submit">Continue</button>

      </div>


  
    <!-- if we get back fbUserInfo, display it other wise, display info -->

    <% if (socialInfo) { %>
        <p>USER INFO</p>
        <p id = "socialName" ><%= socialInfo.name %></p>
        <p id = "socialEmail"><%= socialInfo.email %></p>
    <% } 
    else { %> <h1>No info </h1> <% }
        
    %>


    <script>

        // grab the full name and postmessage it to react native 
        const name = document.getElementById("socialName").innerHTML;
        const email = document.getElementById("socialEmail").innerHTML;

        const info = {
            name: name,
            email: email,
        }

        // swhen the submit button is clicked fetch post 

        async function registerUser() {
            const response = await fetch("https://dev.devusol.net/social/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(info),
            });
            const data = await response.json();
            console.log("TOKENENENENNE:  ", data.token);
            window.ReactNativeWebView.postMessage(JSON.parse(JSON.stringify(data.token)));
            
        }


    </script>

</body>
</html>