<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <!--get css file   -->
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>VoxP Login</title>
</head>
<body>

  <div class="container d-flex justify-content-center align-items-center mt-2 mb-1 flex-column">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <!-- <div class="card-header">
            <h3>Sign In</h3>
          </div> -->
          <div class="card-body">
            <form action="javascript:submit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
              </div>
              <div class="form-group
              ">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
              </div>
              <div class="form-group
              ">
                <button 
                style = "flex: flex; justify-content: center; align-items: center; background-color: #6153c3; color: white; border-radius: 5px; border: none; padding: 10px 20px; font-size: 16px; font-weight: 600; cursor: pointer; margin-top: 10px;"
                id = "save"
                type="submit" 
                class="btn btn-primary btn-block"
                >Sign In</button>
              </div>
            </form>

            <p>
              or Sign In with: 
            </p>
            
      
            <!-- sig in with linked in and facebook -->
          <div class="row">

            <div class="col-md-6">

              
              <button
              style="background-color: #6153c3"
              class="btn m-4 h-10 text-white rounded-2xl w-72">
              <a href="" 
              style="color: white; text-decoration: none; font-size: 20px; font-weight: 600; padding: 10px 20px; cursor: pointer; margin-top: 10px;"
              id="start">Linked In </a>
            </button>

              <button
              style="background-color: #6153c3"
              
              class="btn m-2 h-10 text-white rounded-2xl w-72">
            <a href="" 
            style="color: white; text-decoration: none; font-size: 20px; font-weight: 600; padding: 10px 20px; cursor: pointer; margin-top: 10px;"
            id="loginBtn"> FaceBook </a>
            </button> 
            
              <script>

                // linked in 
                const link = document.querySelector("#start");
                const array = new Uint16Array(10);
                const state = self.crypto.randomUUID();
                console.log(state);
                const clientID = "78u9lqsln6z7j5";
                const redirectURI = "https://dev.devusol.net/linkedInSignin";

                const authURL = `https://www.linkedin.com/oauth/v2/authorization?client_id=${clientID}&redirect_uri=${encodeURIComponent(
                  redirectURI
                )}&scope=r_liteprofile%20r_emailaddress&response_type=code&state=${state}`;

                link.href = authURL;
          
                // grab button
                var loginBtn = document.getElementById("loginBtn");

                // add event listener
                loginBtn.addEventListener("click", function() {
                  console.log("clicked");
                });
      
                let redirectURIfb = "https://dev.devusol.net/fbSignin";
      
                fbAuthUrl = `https://www.facebook.com/v15.0/dialog/oauth?client_id=3184359635207513&redirect_uri=&redirect_uri=${encodeURIComponent(redirectURIfb)}&state=st=state123abc,ds=123456789`;
      
                loginBtn.href = fbAuthUrl;

                // grab the token from the url
                let url = window.location.href;
                let token = url.split("token=")[1];
                console.log("deeeeeeeeeeee", token);
                if (token) {
                  window.ReactNativeWebView.postMessage(JSON.parse(JSON.stringify(token)));
                }

                
            </script>


          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    const submit = async () => {
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const save = document.getElementById('save');
      save.innerHTML = 'Loading...';
      save.disabled = true;
      const response = await fetch('https://dev.devusol.net/auth', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          email,
          password
        })
        
      })
      const result = await response.json();
      // console.log(response.status);
      if(response.status === 200) {
        // send the token to react native
        window.ReactNativeWebView.postMessage(JSON.parse(JSON.stringify(result.token)));

        save.innerHTML = 'Sign In';
        save.disabled = false;
      } else {
        save.innerHTML = 'Sign In';
        save.disabled = false;
        alert("Login Failed");
      }
    }

    
        
    </script>


  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>