<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    basic OIDC:
    <ul>
        <li><a href="/oidc/.well-known/openid-configuration">Discovery</a></li>
        <li><a
                href="/oidc/auth?client_id=foo&response_type=id_token&redirect_uri=https://jwt.io&scope=openid&nonce=foobar">User login</a>
        </li>
        <li><a href="/oidc/jwks">Keys</a></li>
        <li><a href="/oidc/me">User info</a></li>
        <li><a href="/oidc/session/end">Log out</a></li>
    </ul>
    admin Panel:
    <ul>
        <li><a href="/admin">login to admin panel</a></li>
    </ul>
    test page:
    <ul>
        <li><a href="/views/testpage.html">go to the test page</a></li>
    </ul>
</body>

</html>