<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>
    <style></style>
  </head>
  <body>
    <div>
      <h1>Save file to assets/pops</h1>
      <form action="/pop" method="post" enctype="multipart/form-data">
        <input type="file" name="fileSel" id="fileInput" />
        <button type="submit">POST FILE</button>
      </form>
    </div>
    <div><hr /></div>
    <div>
      <h1>Save file to Google Drive</h1>
      <form action="/gdrive" method="post" enctype="multipart/form-data">
        <input type="file" name="fileSel" id="fileInput" />
        <button type="submit">POST FILE</button>
      </form>
    </div>
    <div>
      <h1>Video player</h1>
      <video
        style="width: 640px; height: 320px"
        data-dashjs-player
        autoplay
        muted
        controls
        src="https://cdn.bitmovin.com/content/assets/art-of-motion-dash-hls-progressive/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd"
      ></video>
    </div>

    <script>
      const fileInput = document.getElementById("fileInput");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/4.5.0/dash.all.min.js"></script>
  </body>
</html>
