<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>
    <link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <h1>Save file to assets/pops</h1>
      <form action="/pop" method="post" enctype="multipart/form-data">
        <input type="file" name="fileSel" id="fileInput" />
        <button type="submit">POST FILE</button>
      </form>
    </div>
    <div><hr /></div>
    <div>
      <h1>Save file to Google Drive</h1>
      <form action="/gdrive" method="post" enctype="multipart/form-data">
        <input type="file" name="fileSel" id="fileInput" />
        <button type="submit">POST FILE</button>
      </form>
    </div>
    <div>
      <h1>Video player</h1>
      <!-- <video
        style="width: 640px; height: 320px"
        data-dashjs-player
        autoplay
        muted
        controls
        src="https://cdn.bitmovin.com/content/assets/art-of-motion-dash-hls-progressive/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8"
      ></video> -->
      <!-- <video class="video-js vjs-default-skin" controls>
        <source
          src="https://cdn.bitmovin.com/content/assets/art-of-motion-dash-hls-progressive/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8"
          type="application/x-mpegURL"
        />
      </video> -->
      <!-- HTML -->
      <video
        id="hls-example"
        class="video-js vjs-default-skin"
        width="400"
        height="300"
        muted
        poster="https://dev.devusol.net/pops/59fc9c19-801d-41a2-9e3a-1cc42c76ddfd/swaps/ed4aaaa3-6002-441b-8329-8afb98698220/thumb.png"
        data-setup='{"controls": true, "autoplay": true, "preload": "auto"}'
      >
      <!-- ed4aaaa3-6002-441b-8329-8afb98698220 -->
      

        <source
          type="application/x-mpegURL"
          src="
          https://dev.devusol.net/pops/c2947c45-7b3c-4d9e-a584-302f85b7254c/swaps/af159022-33ef-44ff-96c9-027460c77922/output.m3u8
          "
        />
      </video>
    </div>

    <script>
      const fileInput = document.getElementById("fileInput");
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/4.5.0/dash.all.min.js"></script> -->
    <script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
  </body>
</html>
